<h1><%= @the_hometown.name %></h1>

<div id="map" style="width:100%; height:350px;"></div>

<script>
function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 12,
    center: { lat: 39.5, lng: -98.35 } // temporary, will be replaced
  });

  const geocoder = new google.maps.Geocoder();
  const haunts = <%= raw Haunt.where(hometown_id: @the_hometown.id).filter_map(&:address).to_json %>;
  let firstResult = true;

  haunts.forEach(function(address) {
    geocoder.geocode({ address: address }, function(results, status) {
      if (status === "OK") {
        const location = results[0].geometry.location;

        if (firstResult) {
          map.setCenter(location);
          firstResult = false;
        }

        new google.maps.Marker({
          map: map,
          position: location,
          title: address
        });
      }
    });
  });
}
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap">
</script>

<% @haunts_by_category.each do |category, haunts| %>
  <article>
    <h3><%= category %></h3>
    <ul>
      <% haunts.each do |a_haunt| %>
        <li>
          <a href="https://www.google.com/search?q=<%= URI.encode_www_form_component("#{a_haunt.name} #{a_haunt.address}") %>" target="_blank">
            <%= a_haunt.name %>
          </a>
          <ul>
            <% Recommendation.where(haunt_id: a_haunt.id).each do |a_rec| %>
              <li><%= a_rec.specific_recommendations %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </article>
<% end %>
